@{
    ViewBag.Title = "Quienes Somos";
}
<h4 id="pagina">WWW.MONKEYBARBER.COM</h4>

    <div class="contenedorInfo">
        <h1 id="style">ESTILO <br />AUTÉNTICO</h1>
        <div id="separador">aaaaaaaaaaaaaa</div>
        <p id="info">
            Somos una marca encargada de <br />
            buscar tu mejor estilo, logrando <br />
            tus mejores angulos y sobre todo, <br />
            atenderte de la mejor manera <br />
            para que quedes satisfecho con <br />
            los resultados.
        </p>
    </div>

    <div class="contenedorFinal">
        <h4 id="agendar">AGENDA TU TURNO CON LOS MEJORES</h4>
        <h2 id="numero">6045964578</h2>
    </div>


<style>
    .navbar-collapse{
        margin-left:10%;
        width:100%;
    }
    #separador{
        color:transparent;
    }
    .body-content{
        width:100%;
    }
    .contenedorInfo{
        margin-top:17.5%;
        display:inline-flex;
        margin-left:50%;
    }
    .contenedorFinal {
        margin-top:2%;
        display: inline-flex;
        margin-left: 50%;
        width: 100%;
    }
    #style {
        font-family: Oswald;
        font-weight: bold;
        font-size: 40pt;
        color: #ffd171;
    }
    p{
       text-align:unset;
    }
    #info {
        margin-top:3.5%;
        font-family: Oswald;
        font-weight: bold;
        font-size: 13pt;
        color: #ffff;
        border-color:black;
    }
    #agendar {
        margin-top:2%;
        font-family: Oswald;
        font-weight: bold;
        color: #ffd171;
    }
    #numero {
        margin-left:5%;
        text-align:right;
        font-family: Oswald;
        font-weight: bold;
        font-size: 23pt;
        background-color: #fcb330;
        padding-left:3%;
        padding-right:3%;
        color:black;
    }
    #pagina {
        margin-top:3%;
        margin-right:8%;
        text-align:right;
        font-family: Oswald;
        color: #f2b541;
    }

    body {
        overflow-x:hidden;
        background-image: url(/Imagenes/FondoQuienesFomos.png);
        background-repeat:no-repeat;
        background-attachment:fixed;
        background-size: 100% 100%;
    }
</style>
