@{
    ViewBag.Title = "Contact";
}
<h1 id="titulo">ESTILO AUTÉNTICO</h1>
<h3 id="contact">CONTÁCTANOS Y AGENDA TU TURNO</h3>
<h2 id="number">6045964578</h2>

<div id="pagCopy">
    <h4 id="pagina">WWW.MONKEYBARBER.COM</h4>
    <h4 id="copy">2023 © COPYRIGHT GABRIEL JAIME CANO OQUENDO</h4>
</div>
<style>
      .body-content{
        width:100%;
      }
    #titulo {
        margin-top: 10.2%;
        margin-left: 3%;
        color: #f2b541;
        font-size:80px;
    }
    #contact{
        color:#ffff;
        margin-top:1%;
        margin-left:8%;
        font-size:30px;
    }
    #number{
        color:#ffff;
        margin-top:3%;
        margin-left:17%;
        font-size:35px;
    }
    #pagCopy{
        display:grid;
        margin-top:13%
    }
    #pagina{
        color:#ffff;
        margin-left:15%;
        font-size:20px;
    }
    #copy{
        color:#ffff;
        margin-left:7.5%;
        font-size:20px;
        margin-top:.5%;
    }
    body {
        font-family: Oswald;
        font-weight: bold;
        overflow-y: hidden;
        background-image: url(/Imagenes/FondoContactenos.png);
        background-size: 100% 100%;
        background-attachment: fixed;
        background-repeat: no-repeat;
    }

</style>